<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="2.0.0" targetFramework="net461" developmentDependency="true" />
  <package id="Fody" version="3.0.3" targetFramework="net461" developmentDependency="true" />
  <package id="LiteDB" version="4.1.2" targetFramework="net461" />
  <package id="Reactive.Streams" version="1.0.2" targetFramework="net461" />
  <package id="System.Reactive.Core" version="3.1.1" targetFramework="net461" />
  <package id="System.Reactive.Interfaces" version="3.1.1" targetFramework="net461" />
  <package id="websocket-sharp.clone" version="3.0.0" targetFramework="net452" />
</packages>